@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Overlock&display=swap");
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Overlock', cursive; */
/*#e31837*/
/* *{
    background:#3a8bcd;
    color:#093c66;
} */
/* #093c66 */
/* .color{
   color: rgb(241, 224, 70);
color: rgb(228, 91, 57);
} */
